$radius : 1px !default;
$primary : #54e5c0;
$link : $primary;
$family-sans-serif:"Lato",sans-serif !default;

$sidebar-bg : #323b52e7;
$sidebar-menu-active-bg: #4a5d7463 !default;
$sidebar-menu-border-color: #303d4d50 !default;
$content-bg : #f4f6fa;